In [1]:
sc

In [2]:
spark

In [1]:
spark.stop()

In [2]:
from pyspark.sql import SparkSession
myssql_connector_path = "/home/hadoop/Downloads/mysql-connector-java-8.0.13.jar"

In [3]:
spark = SparkSession.builder.appName("ETL Pipeline").getOrCreate()

In [4]:
hremployeeDF = spark.read.format("jdbc")\
.option("url","jdbc:mysql://localhost:3306/hremployeeDB")\
.option("dbtable","hremployee").option("user","root").option("password","hadoop@123")\
.option("driver", "com.mysql.cj.jdbc.Driver").load()

In [5]:
hremployeeDF.show()

+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|          Department|             JobRole|Attrition|Gender|Age|MaritalStatus|    Education|EducationField|   BusinessTravel|JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 20 rows

In [7]:
hremployeeDF.createOrReplaceTempView('hremployee')

In [8]:
hremployeeDF.explain()

== Physical Plan ==
*(1) Scan JDBCRelation(hremployee) [numPartitions=1] [EmployeeID#0,Department#1,JobRole#2,Attrition#3,Gender#4,Age#5,MaritalStatus#6,Education#7,EducationField#8,BusinessTravel#9,JobInvolvement#10,JobLevel#11,JobSatisfaction#12,Hourlyrate#13,Income#14,Salaryhike#15,OverTime#16,Workex#17,YearsSinceLastPromotion#18,EmpSatisfaction#19,TrainingTimesLastYear#20,WorkLifeBalance#21,Performance_Rating#22] PushedFilters: [], ReadSchema: struct<EmployeeID:string,Department:string,JobRole:string,Attrition:string,Gender:string,Age:int,...

### Display no of rows and no of cols
           * show the number of records and number of column

In [16]:
spark.sql("""
select count(*) as ROW_COUNT, (select count(*) from hremployee.columns) as COL_COUNT from hremployee
""").show()

AnalysisException: "Table or view not found: `hremployee`.`columns`; line 2 pos 52;\n'Aggregate [count(1) AS ROW_COUNT#108L, scalar-subquery#109 [] AS COL_COUNT#110]\n:  +- 'Aggregate [unresolvedalias(count(1), None)]\n:     +- 'UnresolvedRelation `hremployee`.`columns`\n+- SubqueryAlias `hremployee`\n   +- Relation[EmployeeID#10,Department#11,JobRole#12,Attrition#13,Gender#14,Age#15,MaritalStatus#16,Education#17,EducationField#18,BusinessTravel#19,JobInvolvement#20,JobLevel#21,JobSatisfaction#22,Hourlyrate#23,Income#24,Salaryhike#25,OverTime#26,Workex#27,YearsSinceLastPromotion#28,EmpSatisfaction#29,TrainingTimesLastYear#30,WorkLifeBalance#31,Performance_Rating#32] csv\n"

### 2. Write a Query to show first three employee from each Job Role

In [9]:
spark.sql("""
select EmployeeID, Department, JobRole, row_number() over(partition by JobRole order by EmployeeID) 
as row_num from hremployee""").show()

+----------+----------+---------------+-------+
|EmployeeID|Department|        JobRole|row_num|
+----------+----------+---------------+-------+
|         1|     Sales|Sales Executive|      1|
|      1012|     Sales|Sales Executive|      2|
|      1014|     Sales|Sales Executive|      3|
|      1020|     Sales|Sales Executive|      4|
|      1026|     Sales|Sales Executive|      5|
|      1027|     Sales|Sales Executive|      6|
|      1031|     Sales|Sales Executive|      7|
|      1032|     Sales|Sales Executive|      8|
|      1039|     Sales|Sales Executive|      9|
|      1042|     Sales|Sales Executive|     10|
|      1048|     Sales|Sales Executive|     11|
|      1049|     Sales|Sales Executive|     12|
|      1050|     Sales|Sales Executive|     13|
|      1052|     Sales|Sales Executive|     14|
|      1058|     Sales|Sales Executive|     15|
|      1059|     Sales|Sales Executive|     16|
|      1063|     Sales|Sales Executive|     17|
|      1067|     Sales|Sales Executive|     18|
|      1070|     Sales|Sales Executive|     19|
|       108|     Sales|Sales Executive|     20|
+----------+----------+---------------+-------+
only showing top 20 rows

In [10]:
spark.sql("""select * from
(select EmployeeID, Department, JobRole, row_number() over(partition by JobRole order by EmployeeID) 
as row_num from hremployee) where row_num < 4
""").show()

+----------+--------------------+--------------------+-------+
|EmployeeID|          Department|             JobRole|row_num|
+----------+--------------------+--------------------+-------+
|         1|               Sales|     Sales Executive|      1|
|      1012|               Sales|     Sales Executive|      2|
|      1014|               Sales|     Sales Executive|      3|
|      1003|Research & Develo...|Manufacturing Dir...|      1|
|      1034|Research & Develo...|Manufacturing Dir...|      2|
|      1038|Research & Develo...|Manufacturing Dir...|      3|
|       100|Research & Develo...|Laboratory Techni...|      1|
|      1001|Research & Develo...|Laboratory Techni...|      2|
|      1002|Research & Develo...|Laboratory Techni...|      3|
|      1013|               Sales|Sales Representative|      1|
|      1022|               Sales|Sales Representative|      2|
|      1057|               Sales|Sales Representative|      3|
|        10|Research & Develo...|Healthcare Repres...|      1|
|      1008|Research & Develo...|Healthcare Repres...|      2|
|      1035|Research & Develo...|Healthcare Repres...|      3|
|      1016|Research & Develo...|  Research Scientist|      1|
|      1017|Research & Develo...|  Research Scientist|      2|
|       102|Research & Develo...|  Research Scientist|      3|
|      1000|     Human Resources|             Manager|      1|
|       106|     Human Resources|             Manager|      2|
+----------+--------------------+--------------------+-------+
only showing top 20 rows

### 3. Write a query to show top three employee from each jobrole earning maxmimum salary

In [19]:
hremployeeDF.printSchema()

root
 |-- EmployeeID: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

In [23]:
spark.sql("""
select * from
(select EmployeeID, Income, JobRole, RANK() over(partition by JobRole order by Income desc) 
as rank from hremployee) where rank < 4
""").show()

+----------+------+--------------------+----+
|EmployeeID|Income|             JobRole|rank|
+----------+------+--------------------+----+
|        99| 13872|     Sales Executive|   1|
|       545| 13770|     Sales Executive|   2|
|       839| 13758|     Sales Executive|   3|
|       722| 13973|Manufacturing Dir...|   1|
|       628| 13826|Manufacturing Dir...|   2|
|       744| 13726|Manufacturing Dir...|   3|
|       678|  7403|Laboratory Techni...|   1|
|       817|  6782|Laboratory Techni...|   2|
|       945|  6674|Laboratory Techni...|   3|
|       565|  6632|Sales Representative|   1|
|      1308|  5405|Sales Representative|   2|
|      1220|  4502|Sales Representative|   3|
|      1181| 13966|Healthcare Repres...|   1|
|       317| 13964|Healthcare Repres...|   2|
|       190| 13734|Healthcare Repres...|   3|
|        68|  9724|  Research Scientist|   1|
|      1315|  6962|  Research Scientist|   2|
|      1305|  6854|  Research Scientist|   3|
|       191| 19999|             Manager|   1|
|       852| 19943|             Manager|   2|
+----------+------+--------------------+----+
only showing top 20 rows

### 4) Show top 3 highest package for each job role

In [26]:
spark.sql("select EmployeeID, Income, JobRole,Department from hremployee order by Income Desc Limit 3").show()

+----------+------+-----------------+--------------------+
|EmployeeID|Income|          JobRole|          Department|
+----------+------+-----------------+--------------------+
|       191| 19999|          Manager|Research & Develo...|
|       747| 19973|Research Director|Research & Develo...|
|       852| 19943|          Manager|Research & Develo...|
+----------+------+-----------------+--------------------+

#### 5.Dense_Rank()

In [27]:
spark.sql("""
select employeeid,department,jobrole, age, gender, income, dense_rank()
over(partition by jobrole order by age desc) as Rank_By_Age
from hremployee
""").show()

+----------+----------+---------------+---+------+------+-----------+
|employeeid|department|        jobrole|age|gender|income|Rank_By_Age|
+----------+----------+---------------+---+------+------+-----------+
|       428|     Sales|Sales Executive| 60|Female| 10266|          1|
|       537|     Sales|Sales Executive| 60|  Male|  5405|          1|
|       880|     Sales|Sales Executive| 60|  Male|  5220|          1|
|        64|     Sales|Sales Executive| 59|Female|  7637|          2|
|        71|     Sales|Sales Executive| 59|Female|  5473|          2|
|       898|     Sales|Sales Executive| 59|Female|  5171|          2|
|        99|     Sales|Sales Executive| 58|  Male| 13872|          3|
|       402|     Sales|Sales Executive| 56|Female| 13212|          4|
|      1371|     Sales|Sales Executive| 56|Female|  5380|          4|
|        83|     Sales|Sales Executive| 55|  Male| 10239|          5|
|       609|     Sales|Sales Executive| 55|  Male|  5160|          5|
|       976|     Sales|Sales Executive| 55|  Male| 13695|          5|
|       220|     Sales|Sales Executive| 54|Female|  5940|          6|
|       772|     Sales|Sales Executive| 54|Female| 10686|          6|
|       503|     Sales|Sales Executive| 53|Female|  8381|          7|
|       625|     Sales|Sales Executive| 53|Female| 10934|          7|
|       647|     Sales|Sales Executive| 53|  Male| 11836|          7|
|       761|     Sales|Sales Executive| 53|Female|  7525|          7|
|      1396|     Sales|Sales Executive| 53|  Male| 10448|          7|
|       948|     Sales|Sales Executive| 52|  Male|  8446|          8|
+----------+----------+---------------+---+------+------+-----------+
only showing top 20 rows

In [28]:
spark.sql("""
select employeeid,department,jobrole, age, gender, income,workex, dense_rank()
over(partition by jobrole order by age desc, workex desc) as Rank_By_Age
from hremployee
""").show()

+----------+----------+---------------+---+------+------+------+-----------+
|employeeid|department|        jobrole|age|gender|income|workex|Rank_By_Age|
+----------+----------+---------------+---+------+------+------+-----------+
|       428|     Sales|Sales Executive| 60|Female| 10266|    22|          1|
|       880|     Sales|Sales Executive| 60|  Male|  5220|    12|          2|
|       537|     Sales|Sales Executive| 60|  Male|  5405|    10|          3|
|        64|     Sales|Sales Executive| 59|Female|  7637|    28|          4|
|        71|     Sales|Sales Executive| 59|Female|  5473|    20|          5|
|       898|     Sales|Sales Executive| 59|Female|  5171|    13|          6|
|        99|     Sales|Sales Executive| 58|  Male| 13872|    38|          7|
|       402|     Sales|Sales Executive| 56|Female| 13212|    36|          8|
|      1371|     Sales|Sales Executive| 56|Female|  5380|     6|          9|
|        83|     Sales|Sales Executive| 55|  Male| 10239|    24|         10|
|       976|     Sales|Sales Executive| 55|  Male| 13695|    24|         10|
|       609|     Sales|Sales Executive| 55|  Male|  5160|    12|         11|
|       220|     Sales|Sales Executive| 54|Female|  5940|    16|         12|
|       772|     Sales|Sales Executive| 54|Female| 10686|    13|         13|
|       625|     Sales|Sales Executive| 53|Female| 10934|    35|         14|
|       761|     Sales|Sales Executive| 53|Female|  7525|    30|         15|
|       647|     Sales|Sales Executive| 53|  Male| 11836|    28|         16|
|       503|     Sales|Sales Executive| 53|Female|  8381|    18|         17|
|      1396|     Sales|Sales Executive| 53|  Male| 10448|    15|         18|
|       948|     Sales|Sales Executive| 52|  Male|  8446|    10|         19|
+----------+----------+---------------+---+------+------+------+-----------+
only showing top 20 rows

#### Lag()
      *Lag() it is window funciton that allows you access records from previous row.
      *It will be useful in compairing records between rows or calculating differences.
      *lag(column_name,offset,default value) - lag(income,2,0)

In [29]:
spark.sql("""
select employeeid,department,jobrole,age,gender,income,workex, 
lag(income) over(partition by jobrole order by employeeid) as previous_income
from hremployee
""").show()

+----------+----------+---------------+---+------+------+------+---------------+
|employeeid|department|        jobrole|age|gender|income|workex|previous_income|
+----------+----------+---------------+---+------+------+------+---------------+
|         1|     Sales|Sales Executive| 41|Female|  5993|     8|           null|
|      1012|     Sales|Sales Executive| 36|Female|  9278|    15|           5993|
|      1014|     Sales|Sales Executive| 30|Female|  4779|     8|           9278|
|      1020|     Sales|Sales Executive| 36|Female|  5647|    11|           4779|
|      1026|     Sales|Sales Executive| 24|Female|  4162|     5|           5647|
|      1027|     Sales|Sales Executive| 32|  Male|  9204|     7|           4162|
|      1031|     Sales|Sales Executive| 31|  Male| 10793|    13|           9204|
|      1032|     Sales|Sales Executive| 46|  Male| 10096|    28|          10793|
|      1039|     Sales|Sales Executive| 48|  Male|  5486|    15|          10096|
|      1042|     Sales|Sales Executive| 28|  Male|  8463|     6|           5486|
|      1048|     Sales|Sales Executive| 33|  Male|  4373|     5|           8463|
|      1049|     Sales|Sales Executive| 34|  Male|  4759|    15|           4373|
|      1050|     Sales|Sales Executive| 30|  Male|  5301|     4|           4759|
|      1052|     Sales|Sales Executive| 44|Female|  4768|    11|           5301|
|      1058|     Sales|Sales Executive| 29|Female|  5765|     7|           4768|
|      1059|     Sales|Sales Executive| 34|Female|  4599|    16|           5765|
|      1063|     Sales|Sales Executive| 29|  Male|  8620|    10|           4599|
|      1067|     Sales|Sales Executive| 47|Female|  4591|    11|           8620|
|      1070|     Sales|Sales Executive| 28|  Male|  4898|     5|           4591|
|       108|     Sales|Sales Executive| 25|  Male|  5744|     6|           4898|
+----------+----------+---------------+---+------+------+------+---------------+
only showing top 20 rows

In [31]:
spark.sql("""
select employeeid,department,jobrole,age,gender,income,workex, 
lag(income,2,0) over(partition by jobrole order by employeeid) as previous_income
from hremployee
""").show()

+----------+----------+---------------+---+------+------+------+---------------+
|employeeid|department|        jobrole|age|gender|income|workex|previous_income|
+----------+----------+---------------+---+------+------+------+---------------+
|         1|     Sales|Sales Executive| 41|Female|  5993|     8|              0|
|      1012|     Sales|Sales Executive| 36|Female|  9278|    15|              0|
|      1014|     Sales|Sales Executive| 30|Female|  4779|     8|           5993|
|      1020|     Sales|Sales Executive| 36|Female|  5647|    11|           9278|
|      1026|     Sales|Sales Executive| 24|Female|  4162|     5|           4779|
|      1027|     Sales|Sales Executive| 32|  Male|  9204|     7|           5647|
|      1031|     Sales|Sales Executive| 31|  Male| 10793|    13|           4162|
|      1032|     Sales|Sales Executive| 46|  Male| 10096|    28|           9204|
|      1039|     Sales|Sales Executive| 48|  Male|  5486|    15|          10793|
|      1042|     Sales|Sales Executive| 28|  Male|  8463|     6|          10096|
|      1048|     Sales|Sales Executive| 33|  Male|  4373|     5|           5486|
|      1049|     Sales|Sales Executive| 34|  Male|  4759|    15|           8463|
|      1050|     Sales|Sales Executive| 30|  Male|  5301|     4|           4373|
|      1052|     Sales|Sales Executive| 44|Female|  4768|    11|           4759|
|      1058|     Sales|Sales Executive| 29|Female|  5765|     7|           5301|
|      1059|     Sales|Sales Executive| 34|Female|  4599|    16|           4768|
|      1063|     Sales|Sales Executive| 29|  Male|  8620|    10|           5765|
|      1067|     Sales|Sales Executive| 47|Female|  4591|    11|           4599|
|      1070|     Sales|Sales Executive| 28|  Male|  4898|     5|           8620|
|       108|     Sales|Sales Executive| 25|  Male|  5744|     6|           4591|
+----------+----------+---------------+---+------+------+------+---------------+
only showing top 20 rows

#### Lead()

In [32]:
spark.sql("""
select employeeid,department,jobrole, age,gender,income,workex, lead(income,1,0)
over(partition by jobrole order by employeeid) as next_income
from hremployee
""").show()

+----------+----------+---------------+---+------+------+------+-----------+
|employeeid|department|        jobrole|age|gender|income|workex|next_income|
+----------+----------+---------------+---+------+------+------+-----------+
|         1|     Sales|Sales Executive| 41|Female|  5993|     8|       9278|
|      1012|     Sales|Sales Executive| 36|Female|  9278|    15|       4779|
|      1014|     Sales|Sales Executive| 30|Female|  4779|     8|       5647|
|      1020|     Sales|Sales Executive| 36|Female|  5647|    11|       4162|
|      1026|     Sales|Sales Executive| 24|Female|  4162|     5|       9204|
|      1027|     Sales|Sales Executive| 32|  Male|  9204|     7|      10793|
|      1031|     Sales|Sales Executive| 31|  Male| 10793|    13|      10096|
|      1032|     Sales|Sales Executive| 46|  Male| 10096|    28|       5486|
|      1039|     Sales|Sales Executive| 48|  Male|  5486|    15|       8463|
|      1042|     Sales|Sales Executive| 28|  Male|  8463|     6|       4373|
|      1048|     Sales|Sales Executive| 33|  Male|  4373|     5|       4759|
|      1049|     Sales|Sales Executive| 34|  Male|  4759|    15|       5301|
|      1050|     Sales|Sales Executive| 30|  Male|  5301|     4|       4768|
|      1052|     Sales|Sales Executive| 44|Female|  4768|    11|       5765|
|      1058|     Sales|Sales Executive| 29|Female|  5765|     7|       4599|
|      1059|     Sales|Sales Executive| 34|Female|  4599|    16|       8620|
|      1063|     Sales|Sales Executive| 29|  Male|  8620|    10|       4591|
|      1067|     Sales|Sales Executive| 47|Female|  4591|    11|       4898|
|      1070|     Sales|Sales Executive| 28|  Male|  4898|     5|       5744|
|       108|     Sales|Sales Executive| 25|  Male|  5744|     6|       7083|
+----------+----------+---------------+---+------+------+------+-----------+
only showing top 20 rows

#### NTILE()
       * Dividing records into quantiles

In [37]:
spark.sql("""
select employeeid,department,jobrole, age,gender,income,workex, NTILE(4) 
OVER(order by income desc) as salary_quantile from hremployee
""").show(400)

+----------+--------------------+--------------------+---+------+------+------+---------------+
|employeeid|          department|             jobrole|age|gender|income|workex|salary_quantile|
+----------+--------------------+--------------------+---+------+------+------+---------------+
|       191|Research & Develo...|             Manager| 52|  Male| 19999|    34|              1|
|       747|Research & Develo...|   Research Director| 41|Female| 19973|    21|              1|
|       852|Research & Develo...|             Manager| 56|Female| 19943|    28|              1|
|       166|Research & Develo...|             Manager| 50|Female| 19926|    21|              1|
|       569|Research & Develo...|             Manager| 55|  Male| 19859|    24|              1|
|       919|               Sales|             Manager| 51|  Male| 19847|    31|              1|
|       750|               Sales|             Manager| 52|Female| 19845|    33|              1|
|      1242|               Sales|             Manager| 40|  Male| 19833|    21|              1|
|       899|Research & Develo...|   Research Director| 43|  Male| 19740|    25|              1|
|       957|     Human Resources|             Manager| 56|  Male| 19717|    36|              1|
|      1010|Research & Develo...|   Research Director| 58|Female| 19701|    32|              1|
|      1331|Research & Develo...|   Research Director| 48|  Male| 19665|    29|              1|
|      1154|     Human Resources|             Manager| 47|Female| 19658|    27|              1|
|      1401|     Human Resources|             Manager| 55|  Male| 19636|    35|              1|
|       771|Research & Develo...|   Research Director| 46|  Male| 19627|    23|              1|
|       815|Research & Develo...|   Research Director| 40|  Male| 19626|    21|              1|
|      1129|Research & Develo...|             Manager| 42|  Male| 19613|    24|              1|
|      1116|               Sales|             Manager| 55|  Male| 19586|    36|              1|
|       412|Research & Develo...|             Manager| 60|Female| 19566|    33|              1|
|        46|Research & Develo...|   Research Director| 41|Female| 19545|    23|              1|
|       124|Research & Develo...|   Research Director| 51|  Male| 19537|    23|              1|
|       234|               Sales|             Manager| 50|Female| 19517|    32|              1|
|       498|Research & Develo...|             Manager| 44|  Male| 19513|    26|              1|
|       474|Research & Develo...|   Research Director| 49|  Male| 19502|    31|              1|
|       258|Research & Develo...|   Research Director| 40|  Male| 19436|    22|              1|
|      1437|Research & Develo...|             Manager| 39|  Male| 19431|    21|              1|
|       717|Research & Develo...|   Research Director| 41|  Male| 19419|    21|              1|
|       393|Research & Develo...|   Research Director| 54|  Male| 19406|    24|              1|
|      1330|Research & Develo...|             Manager| 43|Female| 19392|    21|              1|
|      1126|               Sales|             Manager| 50|  Male| 19331|    27|              1|
|      1277|Research & Develo...|   Research Director| 46|  Male| 19328|    24|              1|
|       327|Research & Develo...|             Manager| 39|  Male| 19272|    21|              1|
|       596|Research & Develo...|   Research Director| 58|  Male| 19246|    40|              1|
|       767|Research & Develo...|   Research Director| 50|  Male| 19237|    29|              1|
|       232|Research & Develo...|             Manager| 42|  Male| 19232|    22|              1|
|       245|Research & Develo...|             Manager| 45|  Male| 19202|    25|              1|
|       401|Research & Develo...|             Manager| 39|  Male| 19197|    21|              1|
|       923|Research & Develo...|             Manager| 44|  Male| 19190|    26|              1|
|       539|     Human Resources|             Manager| 41|  Male| 19189|    22|              1|
|       956|Research & Develo...|             Manager| 55|Female| 19187|    23|              1|
|      1377|Research & Develo...|   Research Director| 49|  Male| 19161|    28|              1|
|       280|Research & Develo...|   Research Director| 50|  Male| 19144|    28|              1|
|       536|     Human Resources|             Manager| 41|  Male| 19141|    23|              1|
|        26|Research & Develo...|             Manager| 53|Female| 19094|    26|              1|
|       870|Research & Develo...|   Research Director| 46|  Male| 19081|    25|              1|
|       238|               Sales|             Manager| 52|  Male| 19068|    33|              1|
|      1140|Research & Develo...|   Research Director| 44|Female| 19049|    23|              1|
|       271|Research & Develo...|             Manager| 55|  Male| 19045|    37|              1|
|      1264|Research & Develo...|   Research Director| 55|  Male| 19038|    34|              1|
|       187|Research & Develo...|             Manager| 40|Female| 19033|    21|              1|
|        30|               Sales|             Manager| 46|Female| 18947|    22|              1|
|      1443|Research & Develo...|             Manager| 42|  Male| 18880|    24|              1|
|       106|     Human Resources|             Manager| 59|Female| 18844|    30|              1|
|       914|               Sales|             Manager| 45|Female| 18824|    26|              1|
|       917|               Sales|             Manager| 46|Female| 18789|    26|              1|
|        63|Research & Develo...|   Research Director| 50|Female| 18740|    29|              1|
|       188|Research & Develo...|   Research Director| 55|  Male| 18722|    36|              1|
|       900|Research & Develo...|             Manager| 49|  Male| 18711|    23|              1|
|       291|Research & Develo...|   Research Director| 49|Female| 18665|    22|              1|
|       859|Research & Develo...|             Manager| 53|Female| 18606|    26|              1|
|       585|Research & Develo...|             Manager| 42|  Male| 18430|    24|              1|
|       742|               Sales|             Manager| 42|  Male| 18303|    21|              1|
|       330|Research & Develo...|   Research Director| 47|  Male| 18300|    21|              1|
|       905|Research & Develo...|   Research Director| 48|  Male| 18265|    25|              1|
|       908|               Sales|             Manager| 44|  Male| 18213|    26|              1|
|       478|     Human Resources|             Manager| 50|  Male| 18200|    32|              1|
|       107|Research & Develo...|   Research Director| 50|Female| 18172|    28|              1|
|       937|Research & Develo...|             Manager| 45|Female| 18061|    22|              1|
|       418|               Sales|             Manager| 40|Female| 18041|    21|              1|
|       654|Research & Develo...|             Manager| 50|  Male| 17924|    31|              1|
|      1374|               Sales|             Manager| 58|Female| 17875|    29|              1|
|       430|Research & Develo...|   Research Director| 46|  Male| 17861|    26|              1|
|       955|Research & Develo...|             Manager| 42|  Male| 17861|    21|              1|
|       868|Research & Develo...|             Manager| 50|Female| 17856|    32|              1|
|       895|Research & Develo...|   Research Director| 54|  Male| 17779|    36|              1|
|       800|Research & Develo...|             Manager| 42|  Male| 17665|    23|              1|
|       756|               Sales|             Manager| 45|Female| 17650|    26|              1|
|       589|Research & Develo...|   Research Director| 50|  Male| 17639|    30|              1|
|      1185|Research & Develo...|   Research Director| 43|  Male| 17603|    14|              1|
|       281|Research & Develo...|   Research Director| 53|  Male| 17584|    21|              1|
|      1135|               Sales|             Manager| 46|  Male| 17567|    27|              1|
|       811|               Sales|             Manager| 46|  Male| 17465|    23|              1|
|       711|               Sales|             Manager| 33|  Male| 17444|    10|              1|
|      1184|Research & Develo...|             Manager| 54|Female| 17426|    36|              1|
|       715|Research & Develo...|   Research Director| 50|  Male| 17399|    32|              1|
|       113|     Human Resources|             Manager| 54|Female| 17328|    23|              1|
|      1009|Research & Develo...|   Research Director| 54|Female| 17328|    29|              1|
|       148|Research & Develo...|             Manager| 41|  Male| 17181|    21|              1|
|      1351|Research & Develo...|             Manager| 48|Female| 17174|    24|              1|
|      1025|Research & Develo...|   Research Director| 47|Female| 17169|    26|              1|
|       610|Research & Develo...|   Research Director| 43|  Male| 17159|    22|              1|
|       938|Research & Develo...|             Manager| 39|Female| 17123|    21|              1|
|       700|Research & Develo...|             Manager| 52|  Male| 17099|    26|              1|
|       315|Research & Develo...|             Manager| 39|  Male| 17068|    21|              1|
|       862|               Sales|             Manager| 46|Female| 17048|    28|              1|
|       426|Research & Develo...|             Manager| 50|  Male| 17046|    28|              1|
|      1056|Research & Develo...|   Research Director| 34|  Male| 17007|    16|              1|
|       120|               Sales|             Manager| 43|  Male| 16959|    25|              1|
|       805|Research & Develo...|             Manager| 48|  Male| 16885|    27|              1|
|       946|Research & Develo...|   Research Director| 50|Female| 16880|    25|              1|
|       264|               Sales|             Manager| 46|Female| 16872|    28|              1|
|       562|               Sales|             Manager| 52|  Male| 16856|    34|              1|
|       446|               Sales|             Manager| 55|Female| 16835|    37|              1|
|      1348|Research & Develo...|             Manager| 40|  Male| 16823|    22|              1|
|      1000|     Human Resources|             Manager| 42|Female| 16799|    21|              1|
|       195|Research & Develo...|             Manager| 45|  Male| 16792|    22|              1|
|       775|Research & Develo...|             Manager| 55|  Male| 16756|    31|              1|
|       593|Research & Develo...|             Manager| 47|Female| 16752|    26|              1|
|      1225|Research & Develo...|   Research Director| 45|Female| 16704|    21|              1|
|       380|Research & Develo...|             Manager| 55|Female| 16659|    30|              1|
|       490|Research & Develo...|   Research Director| 43|  Male| 16627|    21|              1|
|      1080|               Sales|             Manager| 46|Female| 16606|    23|              1|
|      1044|Research & Develo...|   Research Director| 53|  Male| 16598|    35|              1|
|       467|               Sales|             Manager| 41|Female| 16595|    22|              1|
|       409|Research & Develo...|             Manager| 52|Female| 16555|    31|              1|
|      1096|     Human Resources|             Manager| 40|  Male| 16437|    21|              1|
|      1015|Research & Develo...|   Research Director| 31|Female| 16422|     9|              1|
|      1176|Research & Develo...|   Research Director| 49|Female| 16413|    27|              1|
|      1078|Research & Develo...|   Research Director| 44|  Male| 16328|    24|              1|
|       617|               Sales|             Manager| 51|Female| 16307|    29|              1|
|      1301|               Sales|             Manager| 58|  Male| 16291|    37|              1|
|       456|Research & Develo...|   Research Director| 33|Female| 16184|    10|              1|
|       906|Research & Develo...|   Research Director| 29|Female| 16124|     9|              1|
|       236|               Sales|             Manager| 43|Female| 16064|    22|              1|
|      1076|Research & Develo...|             Manager| 54|Female| 16032|    26|              1|
|       301|               Sales|             Manager| 41|  Male| 16015|    22|              1|
|       349|Research & Develo...|   Research Director| 42|Female| 15992|    16|              1|
|      1194|               Sales|             Manager| 47|Female| 15972|    29|              1|
|      1310|Research & Develo...|   Research Director| 58|  Male| 15787|    23|              1|
|        19|               Sales|             Manager| 53|Female| 15427|    31|              1|
|       493|Research & Develo...|             Manager| 48|Female| 15402|    21|              1|
|      1195|Research & Develo...|             Manager| 49|  Male| 15379|    23|              1|
|      1166|Research & Develo...|             Manager| 48|  Male| 15202|    23|              1|
|       702|               Sales|             Manager| 53|  Male| 14852|    22|              1|
|       535|Research & Develo...|   Research Director| 53|  Male| 14814|    32|              1|
|        66|Research & Develo...|             Manager| 55|Female| 14756|    21|              1|
|      1011|Research & Develo...|   Research Director| 55|  Male| 14732|    31|              1|
|      1086|Research & Develo...|   Research Director| 50|  Male| 14411|    32|              1|
|       391|Research & Develo...|   Research Director| 43|  Male| 14336|    25|              1|
|       650|Research & Develo...|   Research Director| 53|Female| 14275|    33|              1|
|       425|               Sales|             Manager| 57|  Male| 14118|    32|              1|
|       963|     Human Resources|             Manager| 51|  Male| 14026|    33|              1|
|       722|Research & Develo...|Manufacturing Dir...| 50|  Male| 13973|    22|              1|
|      1181|Research & Develo...|Healthcare Repres...| 49|Female| 13966|    30|              1|
|       317|Research & Develo...|Healthcare Repres...| 49|Female| 13964|    25|              1|
|        99|               Sales|     Sales Executive| 58|  Male| 13872|    38|              1|
|       628|Research & Develo...|Manufacturing Dir...| 52|Female| 13826|    31|              1|
|       545|               Sales|     Sales Executive| 47|Female| 13770|    28|              1|
|       839|               Sales|     Sales Executive| 42|  Male| 13758|    22|              1|
|      1041|Research & Develo...|   Research Director| 40|  Male| 13757|    16|              1|
|      1432|Research & Develo...|   Research Director| 37|Female| 13744|    16|              1|
|       190|Research & Develo...|Healthcare Repres...| 51|Female| 13734|    21|              1|
|       744|Research & Develo...|Manufacturing Dir...| 59|Female| 13726|    30|              1|
|       976|               Sales|     Sales Executive| 55|  Male| 13695|    24|              1|
|       246|Research & Develo...|   Research Director| 31|  Male| 13675|     9|              1|
|        79|Research & Develo...|   Research Director| 37|  Male| 13664|    16|              1|
|       436|Research & Develo...|             Manager| 33|  Male| 13610|    15|              1|
|       276|Research & Develo...|   Research Director| 37|Female| 13603|    15|              1|
|       216|               Sales|             Manager| 41|Female| 13591|    16|              1|
|       682|Research & Develo...|   Research Director| 38|Female| 13582|    15|              1|
|       915|Research & Develo...|Healthcare Repres...| 55|  Male| 13577|    34|              1|
|      1445|Research & Develo...|Manufacturing Dir...| 41|Female| 13570|    21|              1|
|        96|Research & Develo...|   Research Director| 54|Female| 13549|    16|              1|
|       296|               Sales|     Sales Executive| 42|Female| 13525|    23|              1|
|        91|Research & Develo...|Healthcare Repres...| 40|  Male| 13503|    22|              1|
|       838|Research & Develo...|   Research Director| 40|Female| 13499|    20|              1|
|       269|Research & Develo...|Healthcare Repres...| 45|  Male| 13496|    21|              1|
|      1284|Research & Develo...|   Research Director| 39|  Male| 13464|     9|              1|
|        56|Research & Develo...|   Research Director| 33|Female| 13458|    15|              1|
|       977|Research & Develo...|Manufacturing Dir...| 56|  Male| 13402|    33|              1|
|      1357|Research & Develo...|   Research Director| 42|  Male| 13348|    18|              1|
|      1403|               Sales|     Sales Executive| 39|  Male| 13341|    21|              1|
|       751|               Sales|     Sales Executive| 44|Female| 13320|    23|              1|
|      1177|Research & Develo...|   Research Director| 50|Female| 13269|    19|              1|
|       995|Research & Develo...|Manufacturing Dir...| 52|Female| 13247|    24|              1|
|        78|Research & Develo...|   Research Director| 45|  Male| 13245|    17|              1|
|       449|Research & Develo...|Manufacturing Dir...| 40|Female| 13237|    22|              1|
|      1327|               Sales|     Sales Executive| 46|Female| 13225|    25|              1|
|       402|               Sales|     Sales Executive| 56|Female| 13212|    36|              1|
|      1430|Research & Develo...|   Research Director| 38|Female| 13206|    20|              1|
|       707|               Sales|     Sales Executive| 40|Female| 13194|    22|              1|
|       888|Research & Develo...|   Research Director| 42|Female| 13191|    20|              1|
|       972|Research & Develo...|Manufacturing Dir...| 51|Female| 13142|    29|              1|
|       822|               Sales|     Sales Executive| 49|  Male| 13120|    22|              1|
|      1275|Research & Develo...|             Manager| 51|Female| 13116|    15|              1|
|      1268|Research & Develo...|Manufacturing Dir...| 53|Female| 12965|    27|              1|
|      1223|               Sales|     Sales Executive| 47|  Male| 12936|    25|              1|
|       611|Research & Develo...|   Research Director| 27|  Male| 12808|     9|              1|
|       739|Research & Develo...|Manufacturing Dir...| 39|Female| 12742|    21|              1|
|       353|               Sales|             Manager| 48|Female| 12504|    15|              1|
|       214|Research & Develo...|   Research Director| 51|  Male| 12490|    16|              1|
|       223|Research & Develo...|   Research Director| 37|  Male| 12185|    10|              1|
|       814|Research & Develo...|Healthcare Repres...| 39|  Male| 12169|    21|              1|
|       308|Research & Develo...|   Research Director| 38|Female| 12061|    19|              1|
|      1462|               Sales|     Sales Executive| 39|Female| 12031|    21|              1|
|       277|Research & Develo...|             Manager| 35|Female| 11996|    10|              1|
|        23|Research & Develo...|   Research Director| 34|Female| 11994|    13|              1|
|      1421|Research & Develo...|   Research Director| 47|Female| 11957|    14|              1|
|       421|Research & Develo...|   Research Director| 29|  Male| 11935|    10|              1|
|       949|Research & Develo...|             Manager| 30|Female| 11916|     9|              1|
|       759|               Sales|             Manager| 59|  Male| 11904|    14|              1|
|       314|Research & Develo...|             Manager| 33|Female| 11878|    12|              1|
|       272|Research & Develo...|             Manager| 47|  Male| 11849|    10|              1|
|       647|               Sales|     Sales Executive| 53|  Male| 11836|    28|              1|
|       542|Research & Develo...|   Research Director| 36|Female| 11713|    10|              1|

#### Calculate Max,Mean,Avg Income from each quantile

In [53]:
spark.sql("""
select Max(income) as Maximum, round(avg(income),2) as Mean, percentile_approx(income,0.5) as Median, salary_quantile from
(select employeeid,department,jobrole, age,gender,income,workex, NTILE(4)
OVER(order by income) as salary_quantile from hremployee) group by salary_quantile
""").show()

+-------+--------+------+---------------+
|Maximum|    Mean|Median|salary_quantile|
+-------+--------+------+---------------+
|   2911|  2354.0|  2377|              1|
|   4930| 3966.74|  4033|              2|
|   8380| 6191.14|  6091|              3|
|  19999|13522.33| 13120|              4|
+-------+--------+------+---------------+

#### Percent_Rank()
         * Window function that calculates relative rank() of row within a result set expressed as percentage.

In [54]:
spark.sql("""
select employeeid,department,jobrole, age,gender,income,workex, PERCENT_RANK() 
OVER(partition by department order by income DESC) as percent_rank from hremployee
""").show()

+----------+----------+-------+---+------+------+------+--------------------+
|employeeid|department|jobrole|age|gender|income|workex|        percent_rank|
+----------+----------+-------+---+------+------+------+--------------------+
|       919|     Sales|Manager| 51|  Male| 19847|    31|                 0.0|
|       750|     Sales|Manager| 52|Female| 19845|    33|0.002252252252252...|
|      1242|     Sales|Manager| 40|  Male| 19833|    21|0.004504504504504...|
|      1116|     Sales|Manager| 55|  Male| 19586|    36|0.006756756756756757|
|       234|     Sales|Manager| 50|Female| 19517|    32|0.009009009009009009|
|      1126|     Sales|Manager| 50|  Male| 19331|    27| 0.01126126126126126|
|       238|     Sales|Manager| 52|  Male| 19068|    33|0.013513513513513514|
|        30|     Sales|Manager| 46|Female| 18947|    22|0.015765765765765764|
|       914|     Sales|Manager| 45|Female| 18824|    26|0.018018018018018018|
|       917|     Sales|Manager| 46|Female| 18789|    26| 0.02027027027027027|
|       742|     Sales|Manager| 42|  Male| 18303|    21| 0.02252252252252252|
|       908|     Sales|Manager| 44|  Male| 18213|    26|0.024774774774774775|
|       418|     Sales|Manager| 40|Female| 18041|    21| 0.02702702702702703|
|      1374|     Sales|Manager| 58|Female| 17875|    29| 0.02927927927927928|
|       756|     Sales|Manager| 45|Female| 17650|    26| 0.03153153153153153|
|      1135|     Sales|Manager| 46|  Male| 17567|    27|0.033783783783783786|
|       811|     Sales|Manager| 46|  Male| 17465|    23|0.036036036036036036|
|       711|     Sales|Manager| 33|  Male| 17444|    10|0.038288288288288286|
|       862|     Sales|Manager| 46|Female| 17048|    28| 0.04054054054054054|
|       120|     Sales|Manager| 43|  Male| 16959|    25| 0.04279279279279279|
+----------+----------+-------+---+------+------+------+--------------------+
only showing top 20 rows

#### Find out the number of records in each of the percentile range(0-25,25-50,50-75,75-100)

In [66]:
spark.sql("""
select Quantile_Group, count(*) from
(select employeeid,department,jobrole, age,gender,income,workex,
case((When percent_rank <=0.25 then 'q1') else,
     (when percent_rank <=0.50 then 'q2') else,
     (when percent_rank <=0.75 then 'q3') 
      else 'q4' end) as Quantile_Group PERCENT_RANK() 
OVER(order by income) as percent_rank from hremployee) as Quantile group by Quantile_Group
""").show()

ParseException: "\nmismatched input 'from' expecting <EOF>(line 2, pos 32)\n\n== SQL ==\n\nselect Quantile_Group, count(*) from\n--------------------------------^^^\n(select employeeid,department,jobrole, age,gender,income,workex,\ncase((When percent_rank <=0.25 then 'q1') else,\n     (when percent_rank <=0.50 then 'q2') else,\n     (when percent_rank <=0.75 then 'q3') \n      else 'q4' end) as Quantile_Group PERCENT_RANK() \nOVER(order by income) as percent_rank from hremployee) as Quantile group by Quantile_Group\n"

In [87]:
spark.sql("""
select Quantile_Group, count(*) as Quantile_Count from 
(
select *,case When percent_rank <=0.25 then 'q1'
     when percent_rank <=0.50 then 'q2'
     when percent_rank <=0.75 then 'q3'
      else 'q4' end as Quantile_Group 
from
(
select employeeid,department,jobrole, age,gender,income,workex,PERCENT_RANK() 
OVER(partition by department order by income) as percent_rank from hremployee
)) group by Quantile_Group order by Quantile_Count desc
""").show()

+--------------+--------------+
|Quantile_Group|Quantile_Count|
+--------------+--------------+
|            q1|           370|
|            q4|           367|
|            q2|           366|
|            q3|           366|
+--------------+--------------+

In [89]:
spark.sql("""
select Quantile_Group, count(*) from
(
select percent_rank,
case when percent_rank <=0.25 then 'Q1'
     when percent_rank <=0.50 then 'Q2'
     when percent_rank <=0.75 then 'Q3'
     else 'Q4' end as Quantile_Group 
from
(
select employeeid,department,jobrole, age,gender,income,workex,PERCENT_RANK() 
OVER(partition by department order by income) as percent_rank from hremployee)) group by Quantile_Group
""").show()

+--------------+--------+
|Quantile_Group|count(1)|
+--------------+--------+
|            Q2|     366|
|            Q1|     370|
|            Q3|     366|
|            Q4|     367|
+--------------+--------+

#### Show JobRole with maximum Attrition Rate (Percentage)

In [108]:
spark.sql("""
select jobrole, 
round(sum(case when Attrition = 'Yes' then 1
     else 0 end)/ count(EmployeeID)*100,2) as Percent from hremployee group by jobrole order by Percent desc
""").show()

+--------------------+-------+
|             jobrole|Percent|
+--------------------+-------+
|Sales Representative|  40.24|
|Laboratory Techni...|  23.94|
|     Human Resources|  23.08|
|     Sales Executive|  17.48|
|  Research Scientist|   16.1|
|Manufacturing Dir...|    6.9|
|Healthcare Repres...|   6.87|
|             Manager|    4.9|
|   Research Director|    2.5|
+--------------------+-------+

### HBase Intergation with Pyspark

In [1]:
spark.stop()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("HbaseIntegration").getOrCreate()

In [3]:
hbase_conf = {
    "hbase.zookeeper.quorum": 'localhost',
    "hbase.mapreduce.inputtable": 'hcustomer',
    "hbase.client.scanner.timeout.period": "600000"
}

In [ ]:
df = spark.read.format("org.apache.hadoop.hbase.spark").options(**hbase_conf).load()

### Hive Integration with pyspark

In [5]:
spark.stop()

In [6]:
spark = (SparkSession.builder.appName("pyspark-hive-integration")
         .config('spark.sql.warehouse.dir', '/user/hive/warehouse/')
         .enableHiveSupport().getOrCreate())

In [7]:
spark

In [8]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|    airlines|
|  banking_db|
|     default|
+------------+

In [10]:
spark.sql("""
create table if not exists airlines.flights(DayOfMonth int, DayOfWeek int, Carrier varchar(10), OriginAirportID int, DestAirportID int, DepDelay int, ArrDelay int)
row format delimited
fields terminated by ','
lines terminated by '\n'
STORED AS TEXTFILE
tblProperties("skip.header.line.count" = 1)
""")

DataFrame[]

In [11]:
spark.sql("use airlines").show()

++
||
++
++

In [12]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines|  flights|      false|
+--------+---------+-----------+

In [13]:
spark.sql("describe flights").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|     DayOfMonth|      int|   null|
|      DayOfWeek|      int|   null|
|        Carrier|   string|   null|
|OriginAirportID|      int|   null|
|  DestAirportID|      int|   null|
|       DepDelay|      int|   null|
|       ArrDelay|      int|   null|
+---------------+---------+-------+

In [17]:
spark.sql("""
load data local inpath '/home/hadoop/Downloads/raw_flight_data1.csv' 
overwrite into table flights
""")

DataFrame[]

In [19]:
spark.sql("select * from flights").show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [20]:
spark.sql("""
create table if not exists airlines.airline(airport_id int,city varchar(30),state varchar(10),name varchar(70))
row format delimited
fields terminated by ','
lines terminated by '\n'
STORED AS TEXTFILE
tblProperties("skip.header.line.count" = 1)
""")

DataFrame[]

In [21]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines|  airline|      false|
|airlines|  flights|      false|
+--------+---------+-----------+

In [22]:
spark.sql("""
load data local inpath '/home/hadoop/Downloads/airports1.csv' 
overwrite into table airline
""")

DataFrame[]

In [24]:
spark.sql("describe airline").show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|airport_id|      int|   null|
|      city|   string|   null|
|     state|   string|   null|
|      name|   string|   null|
+----------+---------+-------+

In [25]:
spark.sql("select * from airline limit 10").show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
+----------+-----------+-----+--------------------+

In [26]:
flights_df = spark.table("flights")
airports_df = spark.table("airline")

In [27]:
flights_df.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 2 rows

In [30]:
airports_df.show(2)

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
+----------+-----------+-----+--------------------+
only showing top 2 rows

### Transformation

In [35]:
flights_join = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='inner')

In [36]:
flights_join.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|          city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|       Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City|   UT|Salt Lake City In...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
only showing top 2 rows

In [37]:
flights_ljoin = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='left')
flights_ljoin.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|          city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|       Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City|   UT|Salt Lake City In...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
only showing top 2 rows

In [38]:
flights_rjoin = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='right')
flights_rjoin.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|        19|        5|     DL|          14570|        14869|      -5|      -8|     14570|Reno|   NV|Reno/Tahoe Intern...|
|        19|        5|     DL|          14570|        14869|      -4|       2|     14570|Reno|   NV|Reno/Tahoe Intern...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
only showing top 2 rows

In [39]:
flights_ojoin = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='outer')
flights_ojoin.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|        19|        5|     DL|          14570|        14869|      -5|      -8|     14570|Reno|   NV|Reno/Tahoe Intern...|
|        19|        5|     DL|          14570|        14869|      -4|       2|     14570|Reno|   NV|Reno/Tahoe Intern...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
only showing top 2 rows

In [40]:
flights_ltjoin = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='leftanti')
flights_ltjoin.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
+----------+---------+-------+---------------+-------------+--------+--------+

In [42]:
flights_lsjoin = flights_df.join(airports_df, on=airports_df.airport_id == flights_df.OriginAirportID, how='leftsemi')
flights_lsjoin.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayOfMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 2 rows

In [ ]:
flights_join.repartition()

In [43]:
flights_join.write.partitionBy('Carrier').parquet("/airlines")

In [44]:
airlines_join = spark.read.parquet("/airlines")

In [45]:
airlines_join.createOrReplaceTempView('airlines')

In [47]:
spark.sql("select avg(ArrDelay) as Arrival_Delay from airlines where Carrier = 'AA'").show()

+------------------+
|     Arrival_Delay|
+------------------+
|11.651327332054372|
+------------------+

In [48]:
airlines_join.printSchema()

root
 |-- DayOfMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- OriginAirportID: integer (nullable = true)
 |-- DestAirportID: integer (nullable = true)
 |-- DepDelay: integer (nullable = true)
 |-- ArrDelay: integer (nullable = true)
 |-- airport_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)
 |-- Carrier: string (nullable = true)

### Load on Mysql

In [49]:
connection_properties = {
    "user":"root",
    "password":"hadoop@123",
    "driver":"com.mysql.cj.jdbc.Driver"
}
airlines_join.write.jdbc(url = "jdbc:mysql://localhost:3306/airlines",table = "airport",
                 mode = "overwrite", properties = connection_properties)